html,body
    {
      background:url("https://cms-assets.tutsplus.com/cdn-cgi/image/width=850/uploads/users/107/posts/26488/image/41-space-scrolling-background850.jpg");
      background-repeat:repeat;
      background-attachment: scroll;
      position:absolute;
      left:0;
      top:0;
      animation: slideshow 10s linear infinite;
    }
    @keyframes slideshow
    {
      0% {top:0;}
      100% {top:-200%;}
      
    }
