<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>The Database</title>
<!-- Css in a seperate file! Whoo Ho! -->
<link rel="stylesheet" href="mystyle.css">
</head>
<body>
<h1>The database</h1>
<div class="filesDiv">
<!-- The files div -->
<!-- header under me :) -->
<h2>/database/sub/ - Directory</h2>
<!-- all the links under me -->
<table>
  <tr>
    <th>Icon</th>
    <th>Filename</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><img class="icons" src="/icons/folder.png"></td>
    <td><a href="/database/sub/example/">Item</a></td>
    <td>Description</td>
  </tr>
  <tr>
    <td><img class="icons" src="/icons/exe.png"></td>
    <td><a href="/database/sub/example.exe">Example.exe</a></td>
    <td>Description</td>
  </tr>
</table> 

</div>
    
</div>

</body>
</html>