body {
    text-align: center;
    margin: 15%;
    background-color: #BEA2C2;
}
.mainDiv{
    background-color: #BDADEA;
    margin: 15%;
    text-align: inherit;
    border: 5px solid #4381C1;
    border-radius: 11px;
    padding-top: 5%;
    padding-right: 30px;
    padding-bottom: auto;
    padding-left: 80px;
}
  
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #b4a0eb;
  
}
  
td, th {
    border: 1px solid #6d6d6d;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #c5b4f1;
}

.button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
  
.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}
  
.button-3:hover {
    background-color: #2c974b;
}
  
.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}
  
.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}
  
.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
  
  